@font-face {
    font-family: 'rubiklight';
    src: url('assets/fonts/Rubik/rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/fonts/Rubik/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubiklight_italic';
    src: url('assets/fonts/Rubik/rubik-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/fonts/Rubik/rubik-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.light {
    --background-primary: #ffffff;
    --background-secondary: #e1e8f0;
    --primary-accent-color: #1892d3;
    --secondary-accent-color: #496677;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'rubiklight';
}

.content-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.sidebar {
    grid-column: 1 / 3;
    grid-row: 1 / 6;
    padding: 1rem 0 0 1rem;
    background-color: var(--primary-accent-color);
}

.sidebar > .sidebar-icon {
    padding-bottom: 30px;
}

.link {
    text-decoration: none;
    color: black;
}

.img {
    height: 32px;
}
.dashboard {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar-upper, .sidebar-lower {
    display: grid;
    grid-auto-flow: row;
    justify-items: flex-start;
}

.sidebar-icon {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-upper .sidebar-icon:hover,
.sidebar-lower .sidebar-icon:hover {
    text-decoration: underline;
    text-decoration-color: var(--background-primary);
    text-underline-offset: 5px;
}

.sidebar-icon:not(.sidebar > .sidebar-icon) {
    padding-left: 0.5rem;
}

.sidebar-icon + .sidebar-icon {
    margin-top: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.sidebar-lower {
    padding-top: 3rem;
}

.header {
    grid-column: 3 / 13;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 3rem;
    background-color: var(--background-primary);
}

.header-upper {
    grid-row: 1 / 2;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.upper-profile-name {
    font-weight: bold;
}

.header-upper-left .img {
    height: 24px;
}

.header-upper-left, .header-upper-right,
.header-lower-left, .header-lower-right {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.header-upper-right {
    padding-left: 2rem;
    column-gap: 1.5rem;
}

.header-upper > img {
    height: 24px;
}

.sidebar img {
    padding-right: 1rem;
}

#search {
    margin-left: 2rem;
    height: 2rem;
    width: 65rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: var(--background-secondary);
    text-indent: 0.5rem;
}

.profile-picture {
    height: 45px;
}

.main-profile-picture {
    height: 76px;
}

.header-lower {
    grid-row: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.header-lower-left, .header-lower-right {
    gap: 1.5rem;
}

.header-lower-left {
    grid-column:1 / 10;
}

.text-holder-upper {
    font-size: 1rem;
    font-weight: bold;
}

.text-holder-lower {
    font-size: 2rem;
    font-weight: bold;
}

.header-button {
    background-color: var(--primary-accent-color);
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    border-color: transparent;
    font-size: 1rem;
    color: var(--background-primary);
    font-weight: bold;
}

.header-button:active, .card-button:active {
    transform: scale(0.9);
}

.main {
    grid-column: 3 / 13;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-top: 1.5rem;
    background-color: var(--background-secondary);
}

.main-subtitles {
    font-size: 1.2rem;
    padding: 0.5rem 0 0.5rem 1rem;
}

.main-left {
    grid-column: 1 / 7;
    padding: 0 1rem 0 1rem;
}

.card-holder {
    height: 90%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    border-radius: 9px;
    border-left: 8px solid var(--secondary-accent-color);
    background-color: var(--background-primary);
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: grid;
    align-content: space-between;
}

.card:hover {
    border: none;
    outline: 2px solid var(--secondary-accent-color);
}

.card-buttons {
    justify-self: flex-end;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.card-button {
    background-color: transparent;
    border: none;
}

.card-icon {
    height: 32px;
}

.main-right {
    grid-column: 7 / 9;
}

hr {
    background-color: var(--background-secondary);
    height: 1px;
    border: none;

}

.announcement-container {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--background-primary)
}

.announcement-subcontainer {
    padding: 0.8rem 0;
}

.announcement-subtitle {
    font-size: 0.9rem;
}

.announcement-text {
    font-size: 0.8rem;
}

.trending-container {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    border-radius: 10px;
    margin-right: 2rem;
    background-color: var(--background-primary);
}

.trending-subcontainer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}

.trending-subcontainer:last-of-type {
    padding-bottom: 0;
}

.profile-name {
    font-size: 0.9rem;
}

.profile-description {
    font-size: 1rem;
}